#xy_d_excelSearchBox {
    z-index: 999;
    //    float: left;
    width: 300px;
    height: 150px;
    border: 1px solid #ccc;
    box-shadow: 0 0 20px #ccc;
    border-radius: 5px;
    position: absolute;
    top: 37px;
    left: 453px;

    #excelSearchBoxHeader {
        height: 40px;
        background: #efefef;
        cursor: move;
        border-radius: 5px;
    }

    .excelSearchBoxContent {
        height: 108px;
        background: white;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;

        .ant-input-affix-wrapper-sm {
            width: 200px;
            height: 30px;
        }
    }

}