.xy_d_ToolbarIndex {
    border-top: .5px solid #ccc;

    ul {
        display: flex;
        margin: 0;
        padding: 0;
        background-color: #f8f8f8;
        height: 55px;

        li {
            display: flex;
            flex-direction: row;
            align-items: center;
            list-style: none;
            margin-left: 0px;
            padding: 0 20px;
            cursor: pointer;

            div{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-left: 10px;
            }

            div:hover{
                color: cornflowerblue;
            }
        }

        li:not(:first-child){
            border-left: 1px solid #ebebeb;
        }
    }

}