.App {
    margin: 0px;
    padding: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    overflow: hidden;

    #luckysheet {
        width: 100vw;
        height: 90vh;
    }
}